/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Libre+Baskerville&family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans");

/* CUSTOM PROPERTIES */
:root {
    /* COLORS */
    --brand-color: rgb(0, 112, 121);
    --opaque-brand-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(61, 69, 34, 0.75);
    --team-color: rgb(226, 160, 2);
    --link-hover: rgb(255, 217, 102);
    --white: #fff;
    --ghostwhite: rgb(248, 248, 255);
    --transparent: rgb(127,128,129, 0.75);
    --grey: rgb(198, 198, 188);
    --blue: rgb(203,209,207);
    --green: rgb(105, 131, 105);
    --beige: #8a7e6e;
    --light-beige: #c1beae;

    /* SPEED */
    --menu-speed: 0.75s;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

/* NAVIGATION BAR */
nav {
    display: flex;
    justify-content: space-between;
    background: var(--ghostwhite);
    backdrop-filter: blur(1px);
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700px;
    padding: 30px 50px;
    color: var(--team-color);
    border-bottom: 2px solid var(--team-color);
}

 .header_logo {
    /* display: flex; */
    color: rgb(105, 131, 105);
    font-weight: 500;
  }

  .header_logo > img {
    top: 0;
    left: 0;
    width: 180px;
    height: 30px 50;
    justify-content: space-around;
  }

.header_logo:hover {
  display: flex;
  color: rgb(105, 131, 105);
  font-weight: 500;
  color:rgb(226, 160, 2)
}

.header_nav-list {
    position: sticky;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: none; 
}

/* .header_nav-list a {
    position: sticky; 
    display: flex;
    background-color: none;
    justify-content: space-between;
    list-style: none;
    padding: 4px;
} */

.header_nav-list li a {
    text-decoration: none;
    background: none;
    margin-right: 40px;
    position: relative;
    color: var(--brand-color);
    font-size: 18px;
    font-weight: 800;
    list-style: none;
    justify-content: space-around;
    border: 1px double var(--brand-color);
    padding: 5px;
    box-shadow: 3px 2px var(--team-color);
    text-transform: capitalize;
}

.header_nav-list li a:hover {
  transform: none;
  text-decoration: none;
  margin-right: 40px;
  position: relative;
  color: var(--ghostwhite);
  font-weight: 500;
  list-style-type: none;
  justify-content: space-between;
  border: 1px solid var(--light-beige);
  padding: 4px;
}

  a::before {
    background: var(--ghostwhite);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  
  
  a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .header_nav-list li a:hover{
      /* color: var(--brand-color); */
      transition: 1s;
    }


/* HAMBURGER MENU BAR */
.menu-wrap {
    position: fixed;
    top: 30px;
    right: 0;
    z-index: 1;
    display: none;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    width: 65px; /* ch*/
    height: 30px; /* ch*/
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 15px; /* ch*/
    right: 20px; /* ch*/
    z-index: 1;
    width: 65px;
    height: 30px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: var(--team-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger>div::before,
  .menu-wrap .hamburger>div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger>div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked+.hamburger>div:before,
  .menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked~.menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu>div {
    background-color: var(--opaque-brand-color);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    width: 400vw;
    height: 400vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu>div>div {
    max-width: 90vw;
    max-height: 100vh;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu>div>div>ul>li {
    list-style: none;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    /* color: var(--green); */
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    /* font-size: 2.5rem;
    margin-top: 6rem;
    color: #fff; */

  }
  
  .menu-wrap .menu>div>div>ul>li>a {
    color: white;
    position: relative;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  .menu-wrap .menu>div>div>ul>li>a:hover {
    color: #fff;
    font-weight: 600;
    padding: .3rem;
  }


  /* Components of the Website; i.e. sections, containers, etc.. */
  

  .main {
    color: rgb(0,0,0);
    padding: 20px;
    margin: auto;
    /* background-color: white; */
  }

  .content {
    display: block;
    width: 80%;
    margin: 150px auto 40px; /*look here*/
    /*margin: 70px auto;*/
    padding: 20px 50px;
    border-radius: 20px;
    text-align: justify;
  }

  .container {
    position: absolute;
    top: 13rem;
    left: 0rem;
    background-color: #000;
    color: #000;
    padding: 20px;
    z-index: 3;
    margin: 20px auto;
    /* font-weight: 100; */
  }


  .team {
    width: 100%;
    text-align: center;
    margin: 10% auto 5%;
    color: var(--team-color);
  }

  .footer {
    text-align: left justify;
    background-color: var(--opaque-brand-color);
    color: var(--ghostwhite);
    width: 100%;
    margin: auto;
    padding: 50px;
  }


  /* TEXT ATTRIBUTES */
  h1 {
    font-size: 48px;
    color: var(--beige);
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    font-weight: 100;
  }

  h2 {
    font-size: 40px;
    font-family: "Bebas Neue", Helvetica, sans-serif;
    font-weight: 100;
    color: var(--light-beige);
  }
  
  p {
    padding: 10px 0;
    font-size: inherit;
  }
  
  em {
    font-family: "Caveat";
    font-size: 18px;
    color: var(--brand-color)
  }

  strong {
    font-weight: 800;
    color: var(--team-color);
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(50, 50, 50, 0.5),
        rgba(0, 0, 0, 0));
    margin: 20px;
  }
  
  blockquote {
    font-size: 16px;
    font-family: "Baskerville";
    padding: 50px;
    margin: 30px auto 30px;
    width: 70%;
    -moz-box-align: center;
    background-color: rgb(127, 127, 12, 0.1);
    border-radius: 0em;
    border-top: 3px double var(--beige);
    border-left: 4px dotted var(--beige);
    border-right: 1px dotted var(--beige);
    border-bottom: 1px dotted var(--beige);
    box-shadow: 10px 9px rgb(198, 198, 188);
  }

  a {
    color: var(--green);
    position: relative;
    text-decoration: none;
    }
    
    a::before {
    background-color: var(--link-hover);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
    }
    
    a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    }

  /* BOX SCROLL ANIMATION */
  .box {
    background-color: transparent;
    margin: auto;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    text-align: justify;
    transform: translateX(200%);
    transition: transform 0.9s ease;
  }
  
  .box:nth-of-type(even) {
    transform: translateX(-200%);
  }
  
  .box.show {
    transform: translateX(0);
    transition: all 0.7s;
  }

  /* MEDIA QUERIES */
@media (max-width:600px) {

    /* nav {
      padding: 10px;
    } */
  
    .header_nav-list {
      display: none;
    }
  /* 
    .topnav {
      display: block;
    } */
  
    .wrap {
      position: relative;
      max-height: 60vh;
      min-width: 100vw;
    }
  
  
  
    .menu-wrap {
        display: inline-flex;
    }
  
  }

  /* Signup and login forms styles */
.buttons{
    margin: 20rem 10rem 10rem 10rem;
    
}

  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(223, 237, 236);
    outline: none;
  }
  
  /* Set a style for all buttons */
  .form-btn, .signup-btn {
    background-color: rgb(0, 112, 121);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #eb7f1b;
    border-style: none;
    border-radius: 5px;
  }
  
  
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signup-btn {
    float: left;
    width: 48%;
    margin: 2px;
  }
  
  /* Add padding to container elements */
  .form-container {
    padding: 16px;
  }
  
  
  /* Modal Content/Box */
  .modal-content {
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
  
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #0b5360;
    margin-bottom: 25px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #f9f7f5;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  
    .cancelbtn {
      width: 100%;
    }
  }
  
  /* The Modal (background) */
  .signup-modal, .login-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(3, 104, 125);
    padding-top: 50px;
  }
  
  
  /* Subscribe form styles */
  
  #open-subscribe-form {
    width: 150px;
    height: 50px;
    background-color: #E2A002;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 3px;
  }
  
  .subscribe-form {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: calc(100% - 20px);
    max-width: 650px;
    background: #fff;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    padding: 50px 40px 40px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
    z-index: 2;
    opacity: 0;
    transition: top 0ms ease-in-out 300ms,
      transform 300ms ease-in-out 0ms,
      opacity 300ms ease-in-out 0ms;
  }
  
  .subscribe-form.active {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: top 0ms ease-in-out 0ms,
      transform 300ms ease-in-out 0ms,
      opacity 300ms ease-in-out 0ms;
  }
  
  .subscribe-form .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #E2A002;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .subscribe-form .left {
    display: flex;
    align-items: center;
  }
  
  .subscribe-form .right h2 {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.15;
    margin-bottom: 10px;
    color: #111;
  }
  
  .subscribe-form .right p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .subscribe-form .right .form label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  .subscribe-form .right .form .input {
    margin-bottom: 10px;
  }
  
  .subscribe-form .right .form input {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(25, 117, 142);
    font-size: 17px;
    border-radius: 5px;
  }
  
  .subscribe-form .right .form button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #0e5f77;
    color: #fff;
    box-shadow: 0px 2px 2px #ddd;
  }
  
  @media(min-width: 680px) {
    .subscribe-form {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }