/* GOOGLE FONTS */
@import url('http://LINKHERE');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Libre+Baskerville");

/* All colours used in the project can be stored here */
:root {
    --brand-color: rgb(57, 102, 57);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
    font-size: 12px;
}

/* .main {
    background-color: #f3f3f3;
    color: rgb(0,0,0);
    width: 80%;
    margin: 20px auto;
    padding: 20px 50px;

} */

/* STYLE FOR TITLES */

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

.wrap{
    position: relative;
    height: 100vh;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    opacity: .9;
    
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    padding: 30px 50px;
    text-transform: capitalize;
    color: white;
}


main{
    color: red;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(169, 199, 169), rgb(78, 110, 78));
}

.topnav{
    display: none;
}

.header_nav-list {
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.header_nav-list li a {
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
    font-weight: 700;
}

.header_nav-list li a:hover {
    color: var(--brand-color);

}

.header_nav-list li {
    list-style-type: none;
    padding: 10px;
}

.header_logo {
    display: flex;
    font-weight: 100;
}

.header_logo img{
    max-width: 10rem;

}

.header_logo:hover {
    display: flex;
    color: rgb(105, 131, 105);
    font-weight: 500;
}

.footer {
    text-align: left; 
    margin: 20px;
}


@media (max-width:600px) {

    nav {
        padding: 10px;
    }

    .header_nav-list {
        display: none;
    }

    .topnav{
        display: block;
    }

        .wrap {
            position: relative;
            max-height: 60vh;
            min-width: 100vw;
        }

    .video{
        bottom: 0;
    }

    
}

