/* GOOGLE FONTS */
@import url('http://LINKHERE');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Libre+Baskerville");

/* All colours used in the project can be stored here*/
:root {
    --brand-color: rgb(57, 102, 57);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
    font-size: 12px;
}

/* .main {
    background-color: #f3f3f3;
    color: rgb(0,0,0);
    width: 80%;
    margin: 20px auto;
    padding: 20px 50px;

} */

/* STYLE FOR TITLES */

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(105, 131, 105, 0.1);
    align-items: center;
    position: fixed;
    width: 100%;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    text-transform: capitalize;
}

.header_nav-list {
    position: sticky;
    display: flex;
    justify-content: space-around;
}

.header_nav-list li a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.header_nav-list li {
    list-style-type: none;
    padding: 10px;
}

.header_logo {
    display: flex;
    font-weight: 100;
}

.header_logo:hover {
    display: flex;
    color: rgb(105, 131, 105);
    font-weight: 500;
}

.footer {
    text-align: left; 
    margin: 20px;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
}
