/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Libre+Baskerville&family=Bebas+Neue");

/* All colours used in the project can be stored here */
:root {
  --brand-color: rgb(0, 112, 121);
  --brand-color2: rgb(108, 126, 76);
  --opaque-brand-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(61, 69, 34, 0.75);
  --team-color: rgb(226, 160, 2);
  --link-hover: rgb(255, 217, 102);
  --menu-speed: 0.75s;
  --white: #fff;
  --ghostwhite: rgb(248, 248, 255);
  --grey: rgb(198, 198, 188);
  --blue: rgb(203,209,207);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
font-family: "Montserrat", Helvetica, Arial, sans-serif;
scroll-behavior: smooth;
font-size: 14px;
}

/* .main {
    background-color: #f3f3f3;
    color: rgb(0,0,0);
    width: 80%;
    margin: 20px auto;
    padding: 20px 50px;
} */


/* WELCOME PAGE start */

.video_wrap {
  position: relative;
  height: 100vh;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: .9;
  z-index: -1;
}

.video[poster]{
  object-fit: cover;
}


nav {
  display: none;
  /* display: flex; */
  justify-content: space-between;
  background: transparent;
  backdrop-filter:  blur(2px);
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  padding: 30px 50px;
  text-transform: capitalize;
  color: var(--white);
}

.header_nav-list {
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.header_nav-list li a {
  text-decoration: none;
  margin-right: 30px;
  position: relative;
  color: var(--white);
  font-weight: 700;
}

a {
color: var(--primary-color);
position: relative;
text-decoration: none;
}

a::before {
background: hsl(45 100% 70%);
content: "";
inset: 0;
position: absolute;
transform: scaleX(0);
transform-origin: right;
transition: transform 0.5s ease-in-out;
z-index: -1;
}

a:hover::before {
transform: scaleX(1);
transform-origin: left;
}

/* a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

a::before {
  background: var(--link-hover);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
} */

.header_nav-list li {
  list-style-type: none;
  padding: 10px;
}

.header_logo {
  display: flex;
  font-weight: 100;
}

.header_logo:hover {
  display: flex;
  color: rgb(105, 131, 105);
  font-weight: 500;
}

.footer {
  background-color: ;
  color: #3b576c;
  text-align: center;
  margin: 20px auto 0;
  padding: 30px;
  width: 100%;
  border-radius: 0px;
}


/* SCROLL ANIMATION */

.box {
  background-color: ;
  margin: auto;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  text-align: justify;
  transform: translateX(200%);
  transition: transform 0.9s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-200%);
}

.box.show {
  transform: translateX(0);
}

/* HAMBURGER MENU */
/* .container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
} */

/* .showcase {
  background: var(--brand-color);
  color: #fff;
  height: 100vh;
  position: relative;
} */

/* .showcase:before {
  content: "";
  background: url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

/* .showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
} */

/* .showcase h1 {
  font-size: 4rem;
} */

/* .showcase p {
  font-size: 1.3rem;
} */

/* .btn {
  display: inline-block;
  border: none;
  background: var(--brand-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
} */

/* .btn:hover {
  opacity: 0.7;
} */

/* MENU STYLES */

.header_nav-list li a:hover {
  color: var(--brand-color);
  padding: .3rem;
  
}


/* NAVBAR for PAGES */
.page_logo {
  display: inline-flex; 
  position: fixed;
  top: 0;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  z-index: 1;
}

.page_topnav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: #3c4421;
  align-items: center;
  color: var(--primary-color);
  z-index: 1;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  padding: 40px;
  margin: auto;
  top: 0;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
}

.page_topnav li {
  display: inline;
  list-style-type: none;
  justify-content: space-between;
  margin: 10px;
}

.page_topnav li a {
  list-style-type: none;
  color: rgb(209, 209, 209);
}

.page_topnav li a:hover {
  text-decoration: none;
}

.page_topnav a::before {
  background: var(--team-color);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  }
  
  .page_topnav a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  }



/* SHOWCASE */

.showcase {
   width: 100%;
   display: inline-block;
   text-align: center;
 }

.none{
  display: none;
}

.container {
  position: absolute;
  display: flex;
  /* padding: 20px; */
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 35%;
  left: 0;
  width: 100%;
  color: var(--white);
  z-index: 3;
}

.container h1 {
  font-size: 5rem;
  letter-spacing: .7rem;
  font-weight: 700;
}

.intro_sub ul {
  display: flex;
  text-align: center;
}

.intro_sub ul li {
  margin-right: 40px;
  list-style: none;
  color: var(--ghostwhite);
  font-size: 18px;
  text-align: center;
}

.btn{
  padding: 10px 30px;
  margin: 20px 0;
}
  
button {
  cursor: pointer;
  border-radius: 40px;
  font-size: 1.1rem;
  border: none;
  background: var(--brand-color);
  transition: background .5s;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}

button:hover{
  background: var(--opaque-brand-color);
  box-shadow: 0 10px 20px var(--white) .2;
  color: var(--white);

}

.btn-white{
  background-color: white;
    color: grey;
}
/* WELCOME PAGE ends */


.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  width: 65px; /* ch*/
  height: 30px; /* ch*/
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 15px; /* ch*/
  right: 20px; /* ch*/
  z-index: 1;
  width: 65px;
  height: 30px;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: white;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background-color: rgba(0, 112,121, 0.4);
  /* opacity: .4; */
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  max-width: 90vw;
  max-height: 100vh;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  color: #fff;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li>a:hover {
  color: #007079;
  font-weight: 600;
  padding: .3rem;
}

.header_logo:hover {
  display: flex;
  color: rgb(105, 131, 105);
  font-weight: 500;
}

/* THE CONTENT OF THE WEBPAGE */
body {
  background-color: #ffffff;
}

main {
  
  /* background-color: #006a75; */
  color: black;
  /* height: 100%; */
  /* background-image: linear-gradient(to bottom right, rgb(169, 199, 169), rgb(78, 110, 78)); */
}

.team {
  width: 100%;
  text-align: center;
  margin: 10% auto 5%;
  color: var(--team-color);
}

#title {
  font-size: 70px;
  font-family: "Indie Flower";
  font-weight: 100;
}

.content {
  display: block;
  background-color: rgb(226, 226, 231,0.4);
  color: rgb(0, 0, 0);
  width: 80%;
  margin: 150px auto 40px;
  padding: 20px 50px;
  border-radius: 20px;
  text-align: justify;
}

/* TEXT ATTRIBUTES */
h1 {
  font-size: 48px;
  color: var(--team-color);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 40px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-weight: 100;
  color: var(--brand-color);
}

p {
  padding: 10px 0;
  font-size: 14px;
}

em {
  font-family: "Indie Flower";
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(50, 50, 50, 0.5),
      rgba(0, 0, 0, 0));
}

blockquote {
  font-size: 18px;
  font-family: "Baskerville";
  padding: 20px;
  margin: 10px;
  background-color: rgb(127, 127, 12, 0.1);
}

.box {
  background-color: transparent;
  margin: auto;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  text-align: justify;
  /* transform: translateX(100%); */
  transition: transform 0.9s ease;
}

.box:nth-of-type(even) {
  /* transform: translateX(-100%); */
}

.box.show {
  transform: translateX(0);
  /* transition: all 0.3s; */
}

/* FOOTER */
.footer {
  text-align: center;
  background-color: var(--blue);
  width: 100%;
  margin: 10px 0 0;
  padding: 5%;
}

/* MEDIA QUERIES */
@media (max-width:600px) {

  /* nav {
    padding: 10px;
  } */

  .header_nav-list {
    display: none;
  }

  .page_topnav {
    display: none;
  }
/* 
  .topnav {
    display: block;
  } */

  .wrap {
    position: relative;
    max-height: 60vh;
    min-width: 100vw;
  }

  .video {
    /* bottom: 0; */
  }

.menu-wrap {
  /* display: inline-flex; */
}

}